{% extends "layout.html" %}
{% block title %}Continue{% endblock %}
{% block content %}
    <h3>
        Consent form
    </h3>

    <p class="lead">
        The information that we collect with this experiment is
        securely stored and will only be used for scientific research purposes,
        for which your data will be kept anonymous.
    </p>

    <p class="lead">
        By clicking the continue button, you agree to login with your Spotify account
        and that your anonymous data will be used for this experiment.
    </p>

    <div class="text-right">
        <a class="btn btn-success" id="action_continue" href="/login/nudge_bp.redirect_from_main2">
            Continue and login with my Spotify account<i class="fas fa-arrow-right"></i>
        </a>
    </div>
{% endblock %}