{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h2>
        Welcome to the demo app ‘Music genre exploration’
    </h2>

    <p class="lead text-justify">
        This music genre exploration app is designed to help you
        explore a new music genre that you are not familiar with.
    </p>

    <p class="lead text-justify">
    To use this app, you are required to login with your active Spotify account.
        This will allow us to get your Spotify top listened tracks to personalise the recommendations and it allows
        you to store the list to your Spotify account if you would like.
        The information that we collect with this app is securely stored and will only be used for scientific research,
        for which your data will be kept anonymous. We can only access your Spotify data when you are using this app.
    </p>

    <p class="lead text-justify">
        <span class="font-weight-bold">Note:</span> If you are using a mobile phone or tablet, please switch to a computer or laptop.
        Please use Chrome, Firefox, Microsoft Edge or Safari, as other browsers are not supported.
    </p>

    <p class="lead">
        By clicking the <span class="font-weight-bold">continue</span> button, you agree to login with your Spotify account.
    </p>

    <br>

    <div class="text-right">
        <a class="btn btn-lg btn-success" id="action_continue" href="/register_without_subject_id">
            Continue and login with my Spotify account<i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}

{% block scripts %}
    <script>
    /*$(function () {
        var url = window.location.href;

        if (url.includes("?subject_id=")){
            var prolific_pid = url.substring(url.indexOf("=")+1, url.length);
            console.log(prolific_pid);
            $('#action_continue').attr('href', '/inform_consent?subject_id=' + prolific_pid);
        }

    });*/

    </script>
{% endblock %}