{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h2>
        Welcome to the study ‘Music genre exploration’
    </h2>

    <p class="lead text-justify">
        This music genre exploration app is designed to help you
        explore a new music genre that you are not familiar with.
    </p>

    <p class="lead text-justify">
        <span class="font-weight-bold">Note:</span> If you are using a mobile phone or tablet, please switch to a computer or laptop.
        Please use Chrome, Firefox, Microsoft Edge or Safari, as other browsers are not supported.
    </p>

    <p class="lead">
        By clicking the <span class="font-weight-bold">continue</span> button, we proceed you to the informed consent.
    </p>

    <br>

    <div class="text-right">
        <a class="btn btn-primary" id="action_continue" href="/inform_consent">
            Continue to the informed consent<i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}

{% block scripts %}
    <script>
    $(function () {
        var url = window.location.href;

        if (url.includes("?PROLIFIC_PID=")){
            var prolific_pid = url.substring(url.indexOf("=")+1, url.length);
            console.log(prolific_pid);
            $('#action_continue').attr('href', '/inform_consent?prolific_pid=' + prolific_pid);
        }

    });

    </script>
{% endblock %}