{% extends "layout.html" %}
{% block title %}Select genre{% endblock %}
{% block content %}
    <h3>
        Explore my music taste by genre
    </h3>
        <p class="lead show-on-success">
            Your Spotify profile shows that you like the genre
            <span id="top_genre" class="font-weight-bold">
            </span>
            most. Please select a new music genre from the below genre list to explore.
        </p>

        <div id="loadingDiv" class="mb-5 col-12 hide-on-success">
            <div id="hloading" class="text-center lead">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                Retrieving the music genre list
            </div>
        </div>

        <p class="lead show-on-success">
            The list is sorted by
            <span id="sort" class="font-weight-bold"></span>
        </p>

        <div class="show-on-success">
            <!--<h3><span id="default-list" class="badge badge-primary"></span></h3>-->
            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios1" checked>
                <label class="form-check-label lead font-weight-bold" id="label_radio1" for="Radios1">
                </label><h5><span id="exp1" class="badge badge-primary"></span></h5>
            </div>
            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios2">
                <label class="form-check-label lead font-weight-bold" id="label_radio2" for="Radios2">
                </label>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios3">
                <label class="form-check-label lead font-weight-bold" id="label_radio3" for="Radios3">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios4">
                <label class="form-check-label lead font-weight-bold" id="label_radio4" for="Radios4">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios5">
                <label class="form-check-label lead font-weight-bold" id="label_radio5" for="Radios5">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios6">
                <label class="form-check-label lead font-weight-bold" id="label_radio6" for="Radios6">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios7">
                <label class="form-check-label lead font-weight-bold" id="label_radio7" for="Radios7">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios8">
                <label class="form-check-label lead font-weight-bold" id="label_radio8" for="Radios8">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios9">
                <label class="form-check-label lead font-weight-bold" id="label_radio9" for="Radios9">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios10">
                <label class="form-check-label lead font-weight-bold" id="label_radio10" for="Radios10">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios11">
                <label class="form-check-label lead font-weight-bold" id="label_radio11" for="Radios11">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input scale_radio" type="radio" name="genre" id="Radios12">
                <label class="form-check-label lead font-weight-bold" id="label_radio12" for="Radios12">
                </label>
                <h5><span id="exp2" class="badge badge-secondary"></span></h5>
            </div>
            <br>
        </div>

    <br>


    <div class="text-right">
        <a role="button" class="btn btn-lg btn-success show-on-success" id="action_submit" href="#">
            Continue <i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        let condition;
        let dict_map = {
            "avant-garde": "Avant-garde",
            "blues": "Blues",
            "classical": "Classical",
            "country": "Country",
            "electronic": "Electronic",
            "folk": "Folk",
            "jazz": "Jazz",
            "latin": "Latin",
            "new-age": "New age",
            "pop-rock": "Pop/Rock",
            "rap": "Rap",
            "reggae": "Reggae",
            "rnb": "R&B"
        };
        $.ajax({url:'/genre_suggestion_new', success: function(result){
            console.log(result);
            condition = {{ condition }}
            if (result === "error"){
                alert("You do not have enough activity on your Spotify account to generate recommendations, " +
                    "therefore you can not participate in the experiment. " +
                    "We still want to thank you for your effort.");
                window.location.href='/'
            } else {
                $("#top_genre").text(dict_map[result[0]])
                if (condition >= 3){
                    $("#Radios1").val(result[1]);
                    $("#Radios2").val(result[2]);

                    $("#Radios3").val(result[3]);
                    $("#Radios4").val(result[4]);
                    $("#Radios5").val(result[5]);
                    $("#Radios6").val(result[6]);
                    $("#Radios7").val(result[7]);
                    $("#Radios8").val(result[8]);
                    $("#Radios9").val(result[9]);
                    $("#Radios10").val(result[10]);
                    $("#Radios11").val(result[11]);
                    $("#Radios12").val(result[12]);

                    $("#label_radio1").html(dict_map[result[1]]);
                    $("#exp1").text("the closest genre")
                    $("#label_radio2").html(dict_map[result[2]]);

                    $("#label_radio3").html(dict_map[result[3]]);
                    $("#label_radio4").html(dict_map[result[4]]);
                    $("#label_radio5").html(dict_map[result[5]]);
                    $("#label_radio6").html(dict_map[result[6]]);
                    $("#label_radio7").html(dict_map[result[7]]);
                    $("#label_radio8").html(dict_map[result[8]]);
                    $("#label_radio9").html(dict_map[result[9]]);
                    $("#label_radio10").html(dict_map[result[10]]);
                    $("#label_radio11").html(dict_map[result[11]]);
                    $("#label_radio12").html(dict_map[result[12]]);
                    $("#exp2").text("the least closest genre")

                    $("#sort").text("how much a genre is close to your preferences");
                }else{
                    // flip the suggestion list if the condition is set as "exploration"
                    $("#Radios1").val(result[12]);
                    $("#Radios2").val(result[11]);
                    $("#Radios3").val(result[10]);

                    $("#Radios4").val(result[9]);
                    $("#Radios5").val(result[8]);
                    $("#Radios6").val(result[7]);
                    $("#Radios7").val(result[6]);
                    $("#Radios8").val(result[5]);
                    $("#Radios9").val(result[4]);

                    $("#Radios10").val(result[3]);
                    $("#Radios11").val(result[2]);
                    $("#Radios12").val(result[1]);


                    $("#label_radio1").html(dict_map[result[12]]);
                    $("#exp1").text("the most novel genre")
                    $("#label_radio2").html(dict_map[result[11]]);
                    $("#label_radio3").html(dict_map[result[10]]);

                    $("#label_radio4").html(dict_map[result[9]]);
                    $("#label_radio5").html(dict_map[result[8]]);
                    $("#label_radio6").html(dict_map[result[7]]);
                    $("#label_radio7").html(dict_map[result[6]]);
                    $("#label_radio8").html(dict_map[result[5]]);
                    $("#label_radio9").html(dict_map[result[4]]);
                    $("#label_radio10").html(dict_map[result[3]]);
                    $("#label_radio11").html(dict_map[result[2]]);
                    $("#label_radio12").html(dict_map[result[1]]);

                    $("#exp2").text("the least novel genre")

                    $("#sort").text("how much a genre is novel to you");
                }



            }
            $(".hide-on-success").hide();
            $('.show-on-success').show();

            $("#action_submit").on( "click", function() {
                $(this).attr("href", "/explore_genre?genre=" + $("input[type='radio'][name='genre']:checked").val());
            });
        }}).catch(function(e) {
            // Display error message in console
            console.error(e);
            // Show error message in #hloading box
            $('#hloading').text(e.message);
        })

    </script>
{% endblock %}