{% extends "layout.html" %}
{% block title %}Select genre{% endblock %}
{% block content %}
    <h3>
        Explore my music taste by genre
    </h3>
    <p class="lead">Instructions: please select a music genre to explore</p>
    <div class="row">
        <div class="col-6 show-on-success">
            <h3><span id="default-list" class="badge badge-primary"></span></h3>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios1" checked>
                <label class="form-check-label lead font-weight-bold" id="label_radio1" for="Radios1"></label>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios2">
                <label class="form-check-label lead font-weight-bold" id="label_radio2" for="Radios2">
                </label>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios3">
                <label class="form-check-label lead font-weight-bold" id="label_radio3" for="Radios3">
                </label>
            </div>
        </div>

        <div class="col-6 show-on-success">
            <h3><span id="the-other-list" class="badge badge-secondary"></span></h3>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios4">
                <label class="form-check-label lead font-weight-bold" id="label_radio4" for="Radios4">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios5">
                <label class="form-check-label lead font-weight-bold" id="label_radio5" for="Radios5">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios6">
                <label class="form-check-label lead font-weight-bold" id="label_radio6" for="Radios6">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios7">
                <label class="form-check-label lead font-weight-bold" id="label_radio7" for="Radios7">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios8">
                <label class="form-check-label lead font-weight-bold" id="label_radio8" for="Radios8">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios9">
                <label class="form-check-label lead font-weight-bold" id="label_radio9" for="Radios9">
                </label>
            </div>
            <br>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" id="Radios10">
                <label class="form-check-label lead font-weight-bold" id="label_radio10" for="Radios10">
                </label>
            </div>


        </div>
    </div>

    <br>


    <div class="text-right">
        <a type="submit" class="btn btn-success" id="action_submit" href="#">
            Continue <i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        let condition;
        $.ajax({url:'/genre_suggestion', success: function(result){
            console.log(result);
            condition = {{ condition }}
            if (result === "error"){
                alert("You do not have enough activity on your Spotify account to generate recommendations, " +
                    "therefore you can not participate in the experiment. We still want to thank you for your effort.");
            } else {
                if (condition > 1){
                    $("#Radios1").val(result[0]);
                    $("#Radios2").val(result[1]);
                    $("#Radios3").val(result[2]);

                    $("#Radios4").val(result[3]);
                    $("#Radios5").val(result[4]);
                    $("#Radios6").val(result[5]);
                    $("#Radios7").val(result[6]);
                    $("#Radios8").val(result[7]);
                    $("#Radios9").val(result[8]);
                    $("#Radios10").val(result[9]);

                    $("#label_radio1").html(result[0]);
                    $("#label_radio2").html(result[1]);
                    $("#label_radio3").html(result[2]);

                    $("#label_radio4").html(result[3]);
                    $("#label_radio5").html(result[4]);
                    $("#label_radio6").html(result[5]);
                    $("#label_radio7").html(result[6]);
                    $("#label_radio8").html(result[7]);
                    $("#label_radio9").html(result[8]);
                    $("#label_radio10").html(result[9]);

                    $("#default-list").html("Genres more close to you");
                    $("#the-other-list").html("Genres more out of your bubble")
                }else{
                    // flip the suggestion list if the condition is set as "exploration"
                    $("#Radios1").val(result[7]);
                    $("#Radios2").val(result[8]);
                    $("#Radios3").val(result[9]);

                    $("#Radios4").val(result[0]);
                    $("#Radios5").val(result[1]);
                    $("#Radios6").val(result[2]);
                    $("#Radios7").val(result[3]);
                    $("#Radios8").val(result[4]);
                    $("#Radios9").val(result[5]);
                    $("#Radios10").val(result[6]);


                    $("#label_radio1").html(result[7]);
                    $("#label_radio2").html(result[8]);
                    $("#label_radio3").html(result[9]);

                    $("#label_radio4").html(result[0]);
                    $("#label_radio5").html(result[1]);
                    $("#label_radio6").html(result[2]);
                    $("#label_radio7").html(result[3]);
                    $("#label_radio8").html(result[4]);
                    $("#label_radio9").html(result[5]);
                    $("#label_radio10").html(result[6]);

                    $("#default-list").html("Genres more out of your bubble");
                    $("#the-other-list").html("Genres more close to you")
                }



            }
            $(".hide-on-success").hide();
        }});

        $('.show-on-success').show();

        $("#action_submit").on( "click", function() {
            $(this).attr("href", "/explore_genre2?genre=" + $("input[type='radio'][name='genre']:checked").val());
        });


    </script>
{% endblock %}