{% extends "layout.html" %}
{% block title %}Explore genre{% endblock %}
{% block content %}

    <div class="row">
        <h2 id="rec_header" class="col-12 show-on-success">Choose your OWN concert! </h2>

        <p class="show-on-success col-12 text-justify lead">
            Take your time to listen to songs and select
            <mark><strong>two performances</strong></mark>
            that you would like to go.
            After listening to the playlist, you will be asked to fill
            in a survey about your experience with the recommendations and the interface. Hover over the
            <i class="fas fa-question-circle text-muted"></i> icons to get an explanation on the user interface.</p>

        <div id="alertbox" class="d-none-soft col-12"></div>
    </div>

    <div class="row">
        <div class="col-sm-3 order-sm-1 show-on-success playlist-unselect" id="playlist_block1">
                    <br>
                    <button class="btn btn-block perform_1-unselect show-on-success " id="perform_1"></button>
                    <div id="playlist1" class="playlist_new"></div>
        </div>

        <div class="col-sm-3 order-sm-2 show-on-success playlist-unselect" id="playlist_block2">
            <br>
            <button class="btn btn-block perform_2-unselect show-on-success" id="perform_2"></button>
            <div id="playlist2" class="playlist_new"></div>
        </div>

        <div class="col-sm-3 order-sm-2  show-on-success playlist-unselect" id="playlist_block3">
            <br>
            <button class="btn btn-block perform_3-unselect show-on-success" id="perform_3"></button>
            <div id="playlist3" class="playlist_new"></div>
        </div>

        <div class="col-sm-3 order-sm-2 show-on-success playlist-unselect" id="playlist_block4">
            <br>
            <button class="btn btn-block perform_4-unselect show-on-success" id="perform_4"></button>
            <div id="playlist4" class="playlist_new"></div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-3">
            <button class="show-on-success btn btn-secondary save_playlist" id="save_playlist1"
                    data-intro="If you'd like, you can save this playlist to your Spotify account." data-step='4'>
                <i class="fas fa-download"></i> Save this playlist to my Spotify
            </button>
        </div>

        <div class="col-sm-3">
            <button class="show-on-success btn btn-secondary save_playlist" id="save_playlist2">
                <i class="fas fa-download"></i> Save this playlist to my Spotify
            </button>
        </div>

        <div class="col-sm-3">
            <button class="show-on-success btn btn-secondary save_playlist" id="save_playlist3">
                <i class="fas fa-download"></i> Save this playlist to my Spotify
            </button>
        </div>

        <div class="col-sm-3">
            <button class="show-on-success btn btn-secondary save_playlist" id="save_playlist4">
                <i class="fas fa-download"></i> Save this playlist to my Spotify
            </button>
        </div>
    </div>
    <br>
    <div class="col-sm text-right">
        <a class="show-on-success btn btn-outline-success" id="continue" href="#"
           data-intro="After selecting two performances you want to go to for the concert, click the button to confirm your selection." data-step='5'>
            Confirm my selection and continue <i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}

{% block scripts %}

    <script>

    let visible_recommendations1,
        visible_recommendations2,
        visible_recommendations3,
        visible_recommendations4;

    let event1,
        event2,
        event3,
        event4;
    let selected_events = new Array(2)


    function fillPlaylist(){

        let $playlist1 = $("#playlist1");
        $playlist1
            .append($("<ul>"));
        let $playlist1_ul = $("#playlist1 ul");
        let i = 0;

        visible_recommendations1.forEach(function (track) {
            let iframe_suffix = i.toString();

            let $newElement = $("<li>").addClass("track")
                .append($("<iframe>").attr("id","iframe_spotify" + iframe_suffix)
                    .attr("src", "https://open.spotify.com/embed/track/" + track.id)
                    .attr("width", "100%")
                    .attr("height", "80")
                    .attr("frameborder", "0")
                    .attr("allowtransparency", "true")
                    .attr("allow", "encrypted-media"))
                .append($("<span>").attr("value", track.id).addClass("trackid"));

            $playlist1_ul.append($newElement);
            ++i;
        });

        let $playlist2 = $("#playlist2");
        $playlist2
            .append($("<ul>"));
        let $playlist2_ul = $("#playlist2 ul");

        visible_recommendations2.forEach(function (track) {
            let iframe_suffix = i.toString();

            let $newElement = $("<li>").addClass("track")
                .append($("<iframe>").attr("id","iframe_spotify" + iframe_suffix)
                    .attr("src", "https://open.spotify.com/embed/track/" + track.id)
                    .attr("width", "100%")
                    .attr("height", "80")
                    .attr("frameborder", "0")
                    .attr("allowtransparency", "true")
                    .attr("allow", "encrypted-media"))
                .append($("<span>").attr("value", track.id).addClass("trackid"));

            $playlist2_ul.append($newElement);
            ++i;
        });


        let $playlist3 = $("#playlist3");
        $playlist3
            .append($("<ul>"));
        let $playlist3_ul = $("#playlist3 ul");

        visible_recommendations3.forEach(function (track) {
            let iframe_suffix = i.toString();

            let $newElement = $("<li>").addClass("track")
                .append($("<iframe>").attr("id","iframe_spotify" + iframe_suffix)
                    .attr("src", "https://open.spotify.com/embed/track/" + track.id)
                    .attr("width", "100%")
                    .attr("height", "80")
                    .attr("frameborder", "0")
                    .attr("allowtransparency", "true")
                    .attr("allow", "encrypted-media"))
                .append($("<span>").attr("value", track.id).addClass("trackid"));

            $playlist3_ul.append($newElement);
            ++i;
        });


        let $playlist4 = $("#playlist4");
        $playlist4
            .append($("<ul>"));
        let $playlist4_ul = $("#playlist4 ul");

        visible_recommendations4.forEach(function (track) {
            let iframe_suffix = i.toString();

            let $newElement = $("<li>").addClass("track")
                .append($("<iframe>").attr("id","iframe_spotify" + iframe_suffix)
                    .attr("src", "https://open.spotify.com/embed/track/" + track.id)
                    .attr("width", "100%")
                    .attr("height", "80")
                    .attr("frameborder", "0")
                    .attr("allowtransparency", "true")
                    .attr("allow", "encrypted-media"))
                .append($("<span>").attr("value", track.id).addClass("trackid"));

            $playlist4_ul.append($newElement);
            ++i;
        });
    }

    $(function () {
        // Save playlist to Spotify
        $('.save_playlist').on('click', function()  {
            let trackString = "";
            let playlistname;
            if ($(this).attr("id") === "save_playlist1"){
                for (let i = 0; i < visible_recommendations1.length; i++) {
                    trackString = trackString + "," + visible_recommendations1[i].id;
                }
                playlistname = "JADS Music Night: " + event1

            }else if ($(this).attr("id") === "save_playlist2"){
                for (let i = 0; i < visible_recommendations2.length; i++) {
                    trackString = trackString + "," + visible_recommendations2[i].id;
                }
                playlistname = "JADS Music Night: " + event2

            }else if ($(this).attr("id") === "save_playlist3"){
                for (let i = 0; i < visible_recommendations3.length; i++) {
                    trackString = trackString + "," + visible_recommendations3[i].id;
                }
                playlistname = "JADS Music Night: " + event3

            }else{
                for (let i = 0; i < visible_recommendations4.length; i++) {
                    trackString = trackString + "," + visible_recommendations4[i].id;
                }
                playlistname = "JADS Music Night: " + event4
            }

            $.ajax({
                url: "/generate_playlist_spotify/" + playlistname + "?tracks=" + trackString.substring(1,) + "",
                global: false
            }).done(function (data){
                if (data === "done"){
                    alert("Your playlist has been successfully saved to your Spotify account");
                    $("#save_playlist")
                        .hover().css("opacity", 1)
                        .css("cursor", "auto");
                } else{
                    alert("Please try again");
                }
            });
        })
    })

    /* Guided tour ---------------------------------------------------------------------------------------------------*/
    // Instance the tour
    let introJsObj = introJs();
    introJsObj.onexit(function() {
        $(".make-sticky-later").addClass("sticky");
    });
    introJsObj.setOptions({
        'exitOnOverlayClick': false,
        'disableInteraction': true
    });

    /* Enable tooltips -----------------------------------------------------------------------------------------------*/
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    /* Read data -----------------------------------------------------------------------------------------------------*/
    Promise.all([
        d3.json("/event_explore_without_recommendations"),
    ]).then(function(data) {
        // Extract data from promises
        let recommendations = data[0]

        // Initialise playlist and visualisation
        visible_recommendations1 = recommendations[0].tracks;
        visible_recommendations2 = recommendations[1].tracks;
        visible_recommendations3 = recommendations[2].tracks;
        visible_recommendations4 = recommendations[3].tracks;
        event1 = recommendations[0].event;
        event2 = recommendations[1].event;
        event3 = recommendations[2].event;
        event4 = recommendations[3].event;


        $('#playlist_block1')
            .removeClass('playlist-unselect')
            .addClass('playlist1-select')
            .addClass('playlist-select')
            .attr('data-step', '1')
            .attr('data-intro', 'We pre-selected the performance ' + event1)


        $('#perform_1')
            .removeClass('perform_1-unselect')
            .addClass('perform_1-select')
            .html(event1)
            .click(function () {
                if ($(this).parent().hasClass("playlist1-select")) {
                    $(this).parent().removeClass("playlist1-select");
                    $(this).parent().removeClass("playlist-select");

                    $(this).parent().addClass("playlist-unselect");

                    $(this).removeClass("perform_1-select")
                    $(this).addClass("perform_1-unselect")

                } else {
                    $(this).parent().removeClass("playlist-unselect");
                    $(this).parent().addClass("playlist1-select");
                    $(this).parent().addClass("playlist-select");

                    $(this).removeClass("perform_1-unselect")
                    $(this).addClass("perform_1-select")
                }
        });

        $('#perform_2')
            .html(event2)
            .click(function () {
                if ($(this).parent().hasClass("playlist2-select")) {
                    $(this).parent().removeClass("playlist2-select");
                    $(this).parent().removeClass("playlist-select");

                    $(this).parent().addClass("playlist-unselect");

                    $(this).removeClass("perform_2-select")
                    $(this).addClass("perform_2-unselect")

                } else {
                    $(this).parent().removeClass("playlist-unselect");
                    $(this).parent().addClass("playlist2-select");
                    $(this).parent().addClass("playlist-select");

                    $(this).removeClass("perform_2-unselect")
                    $(this).addClass("perform_2-select")
                }
        });

        $('#perform_3')
            .html(event3)
            .click(function () {
                if ($(this).parent().hasClass("playlist3-select")) {
                    $(this).parent().removeClass("playlist3-select");
                    $(this).parent().removeClass("playlist-select");

                    $(this).parent().addClass("playlist-unselect");

                    $(this).removeClass("perform_3-select")
                    $(this).addClass("perform_3-unselect")

                } else {
                    $(this).parent().removeClass("playlist-unselect");
                    $(this).parent().addClass("playlist3-select");
                    $(this).parent().addClass("playlist-select");

                    $(this).removeClass("perform_3-unselect")
                    $(this).addClass("perform_3-select")
                }
        });

        $('#perform_4')
            .html(event4)
            .click(function () {
                if ($(this).parent().hasClass("playlist4-select")) {
                    $(this).parent().removeClass("playlist4-select");
                    $(this).parent().removeClass("playlist-select");

                    $(this).parent().addClass("playlist-unselect");

                    $(this).removeClass("perform_4-select")
                    $(this).addClass("perform_4-unselect")

                } else {
                    $(this).parent().removeClass("playlist-unselect");
                    $(this).parent().addClass("playlist4-select");
                    $(this).parent().addClass("playlist-select");

                    $(this).removeClass("perform_4-unselect")
                    $(this).addClass("perform_4-select")
                }
        });

        $('#continue')
            .click(function (e) {
                var num_selected = $('.playlist-select').length;
                e.preventDefault();

                if (num_selected > 2){
                    alert("You can only select 2 performances")
                }else if (num_selected < 2){
                    alert("You need to select 2 performances")
                }else{
                    if (confirm('Are you sure about your selections? You can make your selection only once.')) {
                            $( ".playlist-select" ).each(function(index) {
                            switch ($(this).attr("id")){
                                case "playlist_block1":
                                    selected_events[index] = event1;
                                    break;
                                case "playlist_block2":
                                    selected_events[index] = event2;
                                    break;
                                case "playlist_block3":
                                    selected_events[index] = event3;
                                    break;
                                case "playlist_block4":
                                    selected_events[index] = event4;
                                    break;
                            }
                        });

                        $.ajax({
                            url: "/save_selected_event?event=" + selected_events[0] + "&event=" + selected_events[1],
                            global: false
                        }).done(function (data){
                            console.log(data)
                            if (data === "done"){
                                window.location.href = "/registration_overview";
                            }else if (data["return_message"] === "this combination is not available anymore"){
                                if (data["num_people"] === 1){
                                    alert("There are not enough spots for this combination of performances. Please make a new selection");
                                }else{
                                    alert("There are not enough spots for this combination of performances for two people. " +
                                        "Please make a new selection");
                                }
                            }else if (data["return_message"] === "event 1 is not available"){
                                 if (data["num_people"] === 1){
                                    alert(selected_events[0] + " is not available any more. Please make a new selection");
                                }else{
                                    alert(selected_events[0] + " is not available any more for two people. " +
                                        "Please make a new selection");
                                }
                            }else if (data["return_message"] === "event 2 is not available"){
                                 if (data["num_people"] === 1){
                                    alert(selected_events[1] + " is not available any more. Please make a new selection");
                                }else{
                                    alert(selected_events[1] + " is not available any more for two people. " +
                                        "Please make a new selection");
                                }

                            }else if (data["return_message"] === "both events are not available any more"){
                                if (data["num_people"] === 1){
                                     alert("The two selected performances are not available any more. Please make a new selection");
                                }else{
                                     alert("The two selected performances are not available any more for two people. Please make a new selection");
                                }

                            }
                        });
                      }
                }

        });

        fillPlaylist();

        // Hide loading indicator and show results
        $('.hide-on-success').hide();
        $('.show-on-success').show();

        // Initialise and start the tour
        introJsObj.start();

        setInterval(function(){
            var elem = document.activeElement;
            var track_id;
            if(elem.id.startsWith('iframe_spotify')){
                track_id = elem.src.replace('https://open.spotify.com/embed/track/','');
                elem.blur();
                $.ajax({
                    type: "POST",
                    url: "/log_track_interact",
                    data: {
                        'track_id': track_id,
                    },
                    global: false
                });
            }
        }, 500);

    }).catch(function(e) {
        // Display error message in console
        console.error(e);

        // Show error message in #hloading box
        $('#hloading').text(e.message);
    });

    </script>
{% endblock %}
