{% extends "layout.html" %}
{% block title %}Continue{% endblock %}
{% block content %}
    <h3>
        Informed consent form
    </h3>


    <p class="text-justify lead">
        The information that we collect in this app is securely stored and
        will only be used for scientific research purposes,
        for which your data will be kept anonymous.
    </p>

    <p class="text-justify lead">
        In this app, your personal data (basic demographics, such as age and gender,
        email for receiving tickets, and Spotify top listened tracks and artists) and experimental data (e.g.,
        your responses to the questionnaires and interactions with the application) will be recorded, analyzed,
        and stored. You need to log in with your Spotify account in order to register this event.
    </p>

    <p class="text-justify lead">
        During the Spotify login, three permissions will be asked to access your Spotify data.
        Our tool will ask for permissions to (1) view your Spotify account data (including your name, username,
        profile picture, how many followers you have on Spotify and your public playlists),
        (2) view your activity on Spotify (top listened artists and tracks), and
        (3) take playlist relevant actions in Spotify on your behalf (create, edit, and follow private playlists).
        <span class="font-weight-bold">
            These permissions will only be granted to us during your usage of the tool.
            We need these to enable Spotify login and for possible playlist savings during your usage
            of the tool (on your request), but we will never record, analyze, and store any of your
            Spotify account data. We will only store your top listened tracks and artists on Spotify
            (up to 150 artists and tracks), but without any personal identifiable data.
        </span>
    </p>

    <p class="text-justify lead">
        By clicking the continue button, you agree to login with your Spotify account
        and your anonymous data will be used for this event.
    </p>

    <div class="text-right">
        <a type="submit" class="btn btn-outline-success" id="action_submit" href="/login/dbdw_bp.assign_condition">
            Continue to Spotify Login <i class="fas fa-arrow-right"></i>
        </a>
    </div>
{% endblock %}