{% extends "layout.html" %}
{% block title %}Continue{% endblock %}
{% block content %}
    <h3>
        Consent form
    </h3>

    <p class="text-justify lead">
        The information that we collect in this app is securely stored and
        will only be used for scientific research purposes,
        for which your data will be kept anonymous.
    </p>

    <p class="text-justify lead">
        By clicking the continue button, you agree to login with your Spotify account
        and your anonymous data will be used for this event.
    </p>

    <div class="text-right">
        <a type="submit" class="btn btn-outline-success" id="action_submit" href="/login/dbdw_bp.assign_condition">
            Continue to Spotify Login <i class="fas fa-arrow-right"></i>
        </a>
    </div>
{% endblock %}