{% extends "layout.html" %}
{% block title %}Continue{% endblock %}
{% block content %}
    <h3>
        Consent form
    </h3>

    <p style="font-size:20px;">
        The information that we collect with this experiment is securely stored and will only be used for scientific research purposes, for which your data will be kept anonymous.
    </p>

    <p style="font-size:20px;">
        By clicking the continue button, you agree that your anonymous data will be used for this experiment.
    </p>

    <div class="text-right">
        <a type="submit" class="btn btn-success" id="action_submit" href="/app_msi_survey">
            Continue <i class="fas fa-arrow-right"></i>
        </a>
    </div>
{% endblock %}