{% extends "layout.html" %}
{% block title %}Last Page{% endblock %}
{% block content%}
    <h3>
        Thanks for registering for the JADS Music Night!
    </h3>
    <p>
        <strong>A confirm email of your registration will be sent to you in a few minutes</strong>
    </p>

    <p class="lead">
        Your reservation number is: {{ reserve_num }}
    </p>

    <p class="lead">
        You have made a registration for {{ num_people }} people. Your selected performances are:
    </p>

    <p class="lead">
        1. {{ event1 }} in the first session {{ timeslot1 }}
    </p>

    <p class="lead">
        2. {{ event2 }} in the second session {{ timeslot2 }}
    </p>

{% endblock %}

{% block scripts %}
    <script>
    $.ajax({
        url: "/send_email",
        type: "GET",
        //type: "POST",
        //data: { "html": $("html").html()},
        //success: function() { alert("A confirm email of your registration has been sent to your email address") },
        global: false
    })
    </script>

{% endblock %}