{% extends "layout.html" %}
{% block title %}Last Page{% endblock %}
{% block content%}
    <h3>
        Thanks for registering for the concert!
    </h3>
    <p class="lead">
        You can now enjoy the recorded event via this personalized link:
        <a href="https://spotify.vlab.nl/cn/start.php?email={{ email_address }}&cs={{ selected_stream }}">
            Link to the recording event
        </a>
    </p>

    <p class="lead">Note that this is a one-time personalized link that will not
        be emailed to you, so please click on the link right
        now and bookmark it in your browser if you plan to view it later.</p>

{% endblock %}
