{% extends "layout.html" %}
{% block title %}Last Page{% endblock %}
{% block content%}
    <h3>
        Thanks for registering for the concert!
    </h3>
    <h5>
        A confirm email of your registration will be sent to you in a few minutes.
    </h5>

    <p class="lead">
        You have made a registration for two people. Your selected performances are:
    </p>

    <p class="lead">
        1. {{ event1 }} at {{ timeslot1 }}
    </p>

    <p class="lead">
        2. {{ event2 }} at {{ timeslot2 }}
    </p>

{% endblock %}

{% block scripts %}
    <script>
    $.ajax({
        url: "/send_email",
        type: "GET",
        //type: "POST",
        //data: { "html": $("html").html()},
        //success: function() { alert("A confirm email of your registration has been sent to your email address") },
        global: false
    })
    </script>

{% endblock %}