{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}

    <h2>
        Den Bosch Data Week - JADS Culture Meets Data Night!
    </h2>

    <!--<p class="lead"> The registration is now closed! Thanks for your participation. </p>-->

    <p class="text-justify lead">
        Do you enjoy listening to music, do you want to get more insight in your own music taste,
        and do you want to hear some live music again? The Culture Meets Data Night
        presents performances in different music styles. Based on your Spotify profile,
        we will recommend which performances either suits you best, or helps you explore new music.
        This year we are also collaborating with ‘het Noordbrabants museum’
    </p>

    <p class="text-justify lead">
        In preparation for the concert, we ask you to follow the steps through this application:
        First, you have to register via your Spotify account. This will allow us to see your top tracks on
        which we can do the recommendations. We also ask for permission to make
        playlists as you will be able to save our recommendations as a playlist to your account.
        Second, you will have to fill in a small questionnaire about your musical sophistication.
        Thirdly, an interface will be shown to you in which you can explore your own music taste,
        together with the music from the two sessions between which you can choose.
        Fourthly, you will be asked to answer a few questions about your experience with the interface.
    </p>

    <p class="text-justify lead">
        At the end of the registration process, you will get a link to look at chosen concert directly.
    </p>

    <p class="text-justify lead">
        <b> Note: </b> If you are using a mobile phone or tablet,
        please switch to a computer or laptop. Also, please use either Chrome or Microsoft
        Edge for the best experience with the application.
    </p>

    <br>


    <div class="text-right col-sm">
        <a class="btn btn-outline-success" id="action_continue" href="/inform_consent">
            Continue to the Spotify Login<i class="fas"></i>
        </a>
    </div>




{% endblock %}