{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}

    <h2>
        Den Bosch Data Week - JADS Culture Meets Data Night!
    </h2>

{#    <p class="lead"> The registration is now closed! Thanks for your participation. </p>#}

    <p style="font-size:20px;">
        Do you enjoy listening to music, do you want to get more insight in your own music taste, and do you want to hear some live music again? The Culture Meets Data Night
        presents performances in different music styles. Based on your Spotify profile, we will recommend which performances either suits you best, or helps you explore new music.
    </p>

    <p style="font-size:20px;">
        In preparation for the concert, we ask you to follow the steps through this application:
        First, you have to register via your Spotify profile. Second, you will have to fill in a small questionnaire about your musical sophistication. Thirdly, an interface will be shown to you in which you can explore your own music taste,
        together with the music from the two sessions between which you can choose. Fourthly, you will be asked to answer a few questions about your experience with the interface.
    </p>

    <p style="font-size:20px;">
        This year we are also collaborating with ‘het Noordbrabants museum’ to conduct research on the connection between music
        and artwork. WE want to find out which styles of music link to which styles of artwork.
        Therefore, we kindly ask you to rate eight paintings at the end of this registration process.
    </p>

    <p style="font-size:20px;">
        After this registration process, you will receive the link to your chosen concert via email soon.
    </p>

    <p style="font-size:20px;">
        <b> Note: </b> If you are using a mobile phone or tablet, please switch to a computer or laptop. Also, please use either Chrome or Microsoft Edge for the best experience with the application.
    </p>

    <br>


    <div class="text-right col-sm">
        <a class="btn btn-outline-success" id="action_continue" href="/login/dbdw_bp.test_url">
            Continue to the Spotify Login<i class="fas"></i>
        </a>
    </div>




{% endblock %}