{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h2>
        Rating task
    </h2>

    <p class="text-justify">
        To match you styles of music with different styles of artwork, we ask you to give a rating for each of the paintings below.
        Please rate how much the artwork appeals towards your personal liking.
        You can rate an artwork by clicking on the stars (half stars are also possible).
    </p>

    <div class="item ui-state-default">

    </div>

    <div class="row">

        <div class="col-sm pull-right text-right">
            <a class="btn btn-outline-success" id="continue" href="javascript:void(0)">
                Continue <i class="fas fa-arrow-right"></i>
            </a>

        </div>
    </div>




{% endblock %}

{% block scripts %}
    <script>
        var ratedCount = 0;
        var all_items;
        var slice_index = 0;
        var displayed_items;
        var num_of_items = 8;
        var item_dict = {};

        getDisplayedItems = function(){
            displayed_items = all_items.slice(slice_index, slice_index+num_of_items);
            displayed_items.forEach(function (item) {
                $(".item").append(
                    $("<div>").addClass("row mb-2")
                        .append(
                            $("<div>").addClass("col-sm-6 center-item")
                                .append($("<img>")
                                    .attr("src", item)
                                    .attr("width", "350")
                                )
                        )
                        .append(
                            $("<div>").addClass("col-md-6")
                                .append($("<input>")
                                    .addClass("kv-ltr-theme-fas-star rating-loading starItem")
                                    .attr("dir", "ltr")
                                    .attr("size", "md")
                                    .attr("id", item)
                                    .val(item in item_dict ? item_dict[item] : 0)
                                    .on("change", function(){
                                        if ($(this).val() > 0){
                                            if (!($(this).attr("id") in item_dict)){
                                                ratedCount = ratedCount + 1;
                                            }
                                            item_dict[$(this).attr("id")] = $(this).val();

                                        }else if ($(this).val() == 0){
                                            if ($(this).attr("id") in item_dict){
                                                ratedCount = ratedCount - 1;
                                                delete item_dict[$(this).attr("id")];
                                            }
                                        }
                                    })
                            )
                        )
                    )

            });

            $('.kv-ltr-theme-fas-star').rating({
                hoverEnabled: false,
                theme: 'krajee-fas',
                containerClass: 'is-star',
                showCaption: false,
                }
            )
        };

        getAllItems = function() {
            $.ajax({
                url: "/get_items_to_rate",
                dataType: "json"
            })
            .done(function (data) {
                if(data.length > 0){
                    all_items = data;
                    getDisplayedItems();
                }

            })
        };

        getAllItems();

        $(document).ready(function(){
            $('#continue').show().on('click', function () {
                if (ratedCount < num_of_items){
                    alert('Please rate all paintings');
                }else{
                    $.ajax({
                        type: "POST",
                        url: "/submit_ratings",
                        data: item_dict,
                    }).done(function (data){
                        if (data === "success"){
                            window.location.href = "/final_step"
                        }else{
                            alert("Fail to save the rating data. Please try again!")
                        }

                    })
                }
            })

        });
    </script>
{% endblock %}
