{% extends "layout.html" %}
{% block title %}Explore genre{% endblock %}
{% block content %}

    <div class="row">
        <h2 id="rec_header" class="col-12 show-on-success">
            Top recommendations for you – Genre: {{genre}}
        </h2>
        <p class="show-on-success col-12 lead text-justify">
            <span class="font-weight-bold">
                Task: use the slider and try to create a playlist that you would like to listen to in the coming days
                to explore the genre {{ genre }}.
            </span>
            The initial recommendation list is set to your last session playlist (with the corresponding slider position).
        </p>
        <p class="show-on-success col-12 lead text-justify">
            Click <span class="font-weight-bold">"Continue and save the playlist to my Spotify"</span>
            (at the bottom of the page) once you have found a playlist that you want to listen to in the coming days.</p>

        <p class="show-on-success col-12">
            Tips: Hover over the <i class="fas fa-question-circle text-muted"></i> icons to get an explanation on the user interface.</p>

        <div id="alertbox" class="d-none-soft col-12"></div>

        <div id="loadingDiv" class="mb-5 col-12 hide-on-success">
            <div id="hloading" class="text-center lead">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                Your recommendations are being generated.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7 order-sm-2">
            <div class="mb-2 make-sticky-later">
                <div class="sliders show-on-success" id="moodControl"
                     data-intro="Use the slider to balance how much your preferences are weighted in for the
                     recommendations from this genre. You can vary between the most
                     representative songs from the genre (left) and songs
                     from that genre that are very close to your preference (right).
                     The initial slider position is set to your last session's playlist position." data-step='2'>
                    <span class="help text-justify" data-toggle="tooltip" data-placement="top"
                          style="position:absolute;right:20px;top:10px;"
                          title="Use the slider to balance how much your preferences are weighted in for the
                          recommendations from this genre. You can vary between the most
                          representative songs from the genre (left) and songs
                          from that genre that are very close to your preference (right).">
                        <i class="fas fa-question-circle text-info"></i>
                    </span>
                    <br>

                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <span class="slider-tag text-dark">Representative</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <span class="slider-tag text-dark">Personalized</span>
                        </div>
                    </div>
                    <input type="range" class="slider_new" min="0" max="1" value={{ weight }} step="0.1" id="range_slider" name="weight">
                </div>
                {% if track_history %}
                    <div class="show-on-success track-history text-justify"
                         data-intro="By switching on Show exploration history,
                         you can also see the playlist position of all past sessions"
                         data-step='5'>
                        <span class="help" data-toggle="tooltip" data-placement="top"
                              style="position:absolute;right:20px;top:10px;"
                              title="By switching Hide or show exploration history,
                              you can also see the playlist position of all past sessions">
                            <i class="fas fa-question-circle text-info"></i>
                        </span>
                        <input type="checkbox"
                               id="show-history"
                               data-on="Show exploration history"
                               data-off="Hide exploration history"
                               data-toggle="toggle"
                               data-width="300"
                               data-height="30"
                               data-onstyle="success" data-offstyle="secondary">
                    </div>
                {% endif %}
                <div id="contour_viz" class="show-on-success text-justify"
                     {% if condition > 1 %}
                     data-intro="This graph allows you to see how the slider changes your recommendation.
                     It shows you how the recommendations (blue triangles)
                     relate to your taste (orange outline) and the typical songs of the {{ genre }} genre
                     (green outline). The graph shows two features of the songs: energy (the excitement of the song),
                     valence (the positiveness of the song)."
                     {% else %}
                        data-intro="This graph allows you to see how the slider changes your recommendation.
                        It shows you how the recommendations (blue triangles)
                        relate to your taste (orange outline) and the typical songs of the {{ genre }} genre
                        (green outline). The graph shows two features of the songs: energy (the excitement of the song),
                        valence (the positiveness of the song).
                        The average position of the last session's playlist is visualized with blue circle."
                     {% endif %}
                     data-step='3'>
                    <span class="help" data-toggle="tooltip" data-placement="top"
                          style="position:absolute;right:20px;top:10px;"
                            {% if condition > 1 %}
                                title="This graph allows you to see how the slider changes your recommendation.
                                It shows you how the recommendations (blue triangles)
                                relate to your taste (orange outline) and the typical songs of the {{ genre }} genre
                                (green outline). This graph shows two features of the songs: energy (the excitement of the song),
                                valence (the positiveness of the song)."
                            {% else %}
                                title="This graph allows you to see how the slider changes your recommendation.
                                It shows you how the recommendations (blue triangles)
                                relate to your taste (orange outline) and the typical songs of the {{ genre }} genre
                                (green outline). The graph shows two features of the songs: energy (the excitement of the song),
                                valence (the positiveness of the song).
                                The average position of the last session's playlist is visualized with blue circle."
                            {% endif %}>
                        <i class="fas fa-question-circle text-info"></i>
                    </span>
                </div>
                <br>
                <div id="contour_viz2" class="show-on-success text-justify" data-intro="This graphs shows two OTHER features of the songs:
                danceability (how danceable a song is) and acousticness (how acoustic a song is)." data-step='4'>
                    <span class="help" data-toggle="tooltip" data-placement="top"
                          style="position:absolute;right:20px;top:10px;"
                          title="This graphs shows two OTHER features of the songs: danceability (how danceable a song is)
                          and acousticness (how acoustic a song is)">
                        <i class="fas fa-question-circle text-info"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-5 order-sm-1">

            <div id="playlist" class="show-on-success text-justify"
                 data-intro="In the previous session we gave you this playlist to explore the new genre." data-step='1'>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm text-right">
            <button class="show-on-success btn btn-success btn-lg" id="save_playlist"
                    data-intro="Once you are satisfied with the new playlist,
                    click this button to continue and save the playlist to your spotify account.
                    This concludes the session and you can enjoy listening to the playlist again in the coming days."
                    {% if track_history %}
                    data-step='6'
                    {% else %}
                    data-step='5'
                    {% endif %}>
                Continue and save the playlist to my Spotify
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script>

    let all_recommendations = []; // All recommendations fetched from the back-end
    let visible_recommendations = []; // Subset of recommendations actually shown to the user
    let contour_plot;
    let contour_plot2;

    const history = {{l_weight|tojson}};
    const condition = {{ condition }};

    const circle = d3.symbol().type(d3.symbolCircle)(),
        triangleU = d3.symbol().type(d3.symbolTriangle)(),
        cross = d3.symbol().type(d3.symbolCross)(),
        diamond = d3.symbol().type(d3.symbolDiamond)(),
        star = d3.symbol().type(d3.symbolStar)();

    const circle_big = d3.symbol().size(200).type(d3.symbolCircle),
        triangleU_big = d3.symbol().size(200).type(d3.symbolTriangle),
        cross_big = d3.symbol().size(200).type(d3.symbolCross),
        diamond_big = d3.symbol().size(200).type(d3.symbolDiamond),
        star_big = d3.symbol().size(200).type(d3.symbolStar),
        circle_big_plus = d3.symbol().size(2000).type(d3.symbolCircle)

    let $playlist = $("#playlist");

    let sliderVal;

    const number_of_tracks = 10;

    const colors = {
        "user_profile": "#d95f02",
        "last_playlist_mean": "#007bff",
        "last_playlist_mean_2": "#7570b3",
        "last_playlist_mean_3": "#8E44AD",
        "recommendations": "#007bff",
        "genre": "#1b9e77",
    };

    let basicLegend = ["Your taste", "The {{ genre }} genre", "Recommended songs"];
    let basicSymbol = [circle, circle, triangleU];
    let basicColor = [colors.user_profile, colors.genre, colors.recommendations];

    let extendLegend = ["Playlist of the last session"];
    let extendColor = [colors.last_playlist_mean];

    function fillPlaylist() {
        // Check if the number of tracks equals 10
        if(visible_recommendations.length < number_of_tracks) {
            throw new Error("We cannot get enough personalized data from your Spotify account to generate recommendations.");
        } else if(visible_recommendations.length > number_of_tracks) {
            throw new Error("Too many tracks given to show.");
        }


        $playlist.append($("<ul>"));
        let $playlist_ul = $("#playlist ul");

        let i = 0;
        visible_recommendations.forEach(function (track) {
            let iframe_suffix = i.toString();

            let $newElement = $("<li>").addClass("track")
                .append($("<iframe>").attr("id","iframe_spotify" + iframe_suffix)
                    .attr("src", "https://open.spotify.com/embed/track/" + track.id)
                    .attr("width", "100%")
                    .attr("height", "80")
                    .attr("frameborder", "0")
                    .attr("allowtransparency", "true")
                    .attr("allow", "encrypted-media"))
                .append($("<span>").attr("value", track.id).addClass("trackid"));

            $playlist_ul.append($newElement);
            ++i;
        });
    }

    $(function () {
        // Save playlist to Spotify
        $('#save_playlist').on('click', function()  {
            let trackString = "";
            for (let i = 0; i < visible_recommendations.length; i++) {
                trackString = trackString + "," + visible_recommendations[i].id;
            }
            $.ajax({
                url: "/generate_longitudinal_playlist/{{ genre }}?weight=" + $("#range_slider").val() + "&tracks=" + trackString.substring(1,) + "",
                global: false
            }).done(function (data){
                if (data === "done"){
                    window.location.href = "/last_step";
                } else{
                    alert("Please try again");
                }
            });
        });

        // logging function for iframe @TODO: update to a correct function
        setInterval(function(){
            var elem = document.activeElement;
            var track_id;
            if(elem.id.startsWith('iframe_spotify')){
                track_id = elem.src.replace('https://open.spotify.com/embed/track/','');
                elem.blur();
                $.ajax({
                    type: "POST",
                    url: "/log_track_interact",
                    data: {
                        'track_id': track_id,
                    },
                    global: false
                });
            }
        }, 500);


        $($playlist)
            .on("mouseover", ".track", function() {
                let track_id = $(this).children(".trackid").attr("value");
                let point = $(".rec_scatter [data-track-id=" + track_id + "]");
                point.attr("d", triangleU_big);
            })
            .on("mouseout", ".track", function() {
                let track_id = $(this).children(".trackid").attr("value");
                let point = $(".rec_scatter [data-track-id=" + track_id + "]");
                point.attr("d", triangleU);
            });

        $("#range_slider").on('change', function (e) {slidersChangedNew(e.currentTarget)});

        {% if track_history %}
            $('#show-history').change(function() {
                if ($('#show-history').is(':checked')){
                    contour_plot.show_history_change();
                    contour_plot2.show_history_change();
                }else{
                    contour_plot.hide_history_change();
                    contour_plot2.hide_history_change();
                }
            })

            $("#show-history").on('change', function (e) {logShowHistory(e.currentTarget)});
        {% endif %}
    });

    /* Slider functions ----------------------------------------------------------------------------------------------*/
    function slidersChangedNew(slider) {
        calculateTradeoffScore();
        logSliderInteraction(slider);
    }

    function logSliderInteraction(slider) {
        $.ajax({
            type: "POST",
            url: "/log_slider_interact",
            data: {
                'slider_val': slider.value
            }
        });
    }

    function logShowHistory(checkbox_show) {
        $.ajax({
            type: "POST",
            url: "/log_show_history",
            data: {
                'checkbox_val': checkbox_show.checked
            }
        });
    }

    function calculateTradeoffScore() {
        sliderVal = $("#range_slider").val()

        if ($playlist.children().length !== 0) {
            $playlist.empty();
        }

        visible_recommendations = all_recommendations.slice(Math.round(sliderVal*100), Math.round(sliderVal*100)+10);
        fillPlaylist();
        contour_plot.update_contour_plot(visible_recommendations);
        contour_plot2.update_contour_plot(visible_recommendations);
    }

    /* Contour plot visualisation ------------------------------------------------------------------------------------*/
    function ContourPlot(contour_viz, recommendations, user_top_tracks,
                         genre_top_tracks,
                         feature1, feature2,
                         session_name,
                         mean_feature1_history, mean_feature2_history) {
        this.recommendations = recommendations;
        this.user_top_tracks = user_top_tracks;
        this.genre_top_tracks = genre_top_tracks;
        this.contour_viz = contour_viz;
        this.feature1 = feature1;
        this.feature2 = feature2;
        this.mean_feature1_history = mean_feature1_history;
        this.mean_feature2_history = mean_feature2_history;
        this.session_name = session_name;

        // set the dimensions and margins of the graph
        const margin = {top: 20, right: 120, bottom: 30, left: 120},
            width = 540 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        this.svg = d3.select(contour_viz)
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // Add X axis
        let x = d3.scaleLinear()
            .domain([0, 1])
            .range([ 0, width ]);
        this.svg.append("g")
            .attr("transform", "translate(0," + height/2 + ")")
            .attr("opacity", ".5")
            .call(d3.axisBottom(x).tickValues([]).tickSizeOuter(0));

        // Add Y axis
        let y = d3.scaleLinear()
            .domain([0, 1])
            .range([ height, 0 ]);
        this.svg.append("g")
            .attr("transform", "translate(" + width/2 + ", 0)")
            .attr("opacity", ".5")
            .call(d3.axisLeft(y).tickValues([]).tickSizeOuter(0));

        let compute_density_estimate;

        compute_density_estimate = data => {
            return d3.contourDensity()
                .x(function(d) { return x(d[feature1]); })   // x and y = column name in input data
                .y(function(d) { return y(d[feature2]); })
                .size([width, height])
                .bandwidth(25)    // smaller = more precision in lines = more lines
                (data);
        };

        // compute the density data for genre and user profile
        let genre_density = compute_density_estimate(this.genre_top_tracks);
        let user_density = compute_density_estimate(this.user_top_tracks);

        let opacity_scale = (density_estimate) => {
            return d3.scalePow()
                .exponent(2)
                .domain(d3.extent(density_estimate, d => d.value)) // Points per square pixel.
                .range([0, 1]);
        }

        this.add_contour_plot = (density_estimate, color) => {
            this.svg.append("g")
                .selectAll("path")
                .data(density_estimate)
                    .enter()
                    .append("path")
                    .attr("d", d3.geoPath())
                    .attr("fill", "none")
                    .attr("stroke", color)
                    .attr("stroke-opacity", d => opacity_scale(density_estimate)(d.value))
                    .attr("stroke-linejoin", "round");
        };

        // Add the contour plot for the genre
        this.add_contour_plot(genre_density, colors.genre);
        this.add_contour_plot(user_density, colors.user_profile);

        this.add_scatter_plot = (data, color, classname) => {
            this.svg.append("g")
                .attr("class", classname)
                .attr("stroke", "white")
                .attr("fill", color)
                .selectAll("path")
                .data(data)
                    .enter().append("path")
                    .attr("transform", function(d) { return "translate(" + x(d[feature1]) + "," + y(d[feature2]) + ")"; })
                    .attr("data-track-id", d => d.id)
                    .attr("d", triangleU)
                    .on("mouseover", handleMouseOver)
                    .on("mouseout", handleMouseOut);
        };

        this.add_mean_feature = (color, shape, mean_feature1, mean_feature2) => {
            this.svg.append("g")
                .attr("class", "meanValue")
                .attr("stroke", color)
                .attr("fill", "none")
                .attr("stroke-width", "3px")
                .selectAll("path")
                .data("meanFeature")
                    .enter().append("path")
                    .attr("transform", function() {
                        return "translate(" + x(mean_feature1) + "," + y(mean_feature2) + ")";
                    })
                    .attr("d", shape)

        };

        this.remove_group = (selector) => {
            this.svg.selectAll(selector).remove();
         };

        this.update_contour_plot = (recommendations) => {
            this.remove_group(".rec_scatter");
            this.recommendations = recommendations;
            this.add_scatter_plot(recommendations, colors.recommendations, "rec_scatter");
        }

        this.show_history_change = () => {
            this.remove_group(".meanValue");

            for (let i = 0; i < session_name.length; i++)
            {
                if (i === 0){
                    this.add_mean_feature(colors.last_playlist_mean, circle_big_plus,
                        mean_feature1_history[i], mean_feature2_history[i]);
                }


               if (i === 1){
                   this.add_mean_feature(colors.last_playlist_mean_2, circle_big_plus,
                        mean_feature1_history[i], mean_feature2_history[i]);
                   extendLegend.push("Playlist of " + session_name[i]);
                   extendColor.push(colors.last_playlist_mean_2);
               }

               if (i === 2){
                   this.add_mean_feature(colors.last_playlist_mean_3, circle_big_plus,
                        mean_feature1_history[i], mean_feature2_history[i]);
                   extendLegend.push("Playlist of " + session_name[i]);
                   extendColor.push(colors.last_playlist_mean_3);
               }
            }

            let ordinal_new = d3.scaleOrdinal()
                 .domain(extendLegend)
                 .range(extendColor);

            let legendOrdinal = d3.legendColor()
                .shape("circle")
                .shapePadding(15)
                .shapeRadius(6)
                .cellFilter(function(d){ return d.label !== "e" })
                .scale(ordinal_new);

            this.svg.append("g")
                .attr("class", "legendOrdinal")
                .attr("transform", "translate(225,0)");

            this.svg.select(".legendOrdinal")
                .call(legendOrdinal);
        }

        this.hide_history_change = () => {
            this.remove_group(".meanValue");
            this.add_mean_feature(colors.last_playlist_mean, circle_big_plus,
                mean_feature1_history[0], mean_feature2_history[0]);
            this.remove_group(".legendOrdinal")
        }

        // Add a scatter plot for the recommendations
        this.add_scatter_plot(recommendations, colors.recommendations, "rec_scatter");

        let x_negative;
        let x_positive;
        let y_negative;
        let y_positive;

        switch (feature1) {
            case "valence":
                x_negative = "Negative";
                x_positive = "Positive";
                break;
            case "energy":
                x_negative = "Calming";
                x_positive = "Exciting";
                break;
            case "danceability":
                x_negative = "Less danceable";
                x_positive = "More danceable";
                break;
            case "acousticness":
                x_negative = "Less acoustic";
                x_positive = "More acoustic";
                break;
        }

        switch (feature2) {
            case "valence":
                y_negative = "Negative";
                y_positive = "Positive";
                break;
            case "energy":
                y_negative = "Calming";
                y_positive = "Exciting";
                break;
            case "danceability":
                y_negative = "Less danceable";
                y_positive = "More danceable";
                break;
            case "acousticness":
                y_negative = "Less acoustic";
                y_positive = "More acoustic";
                break;
        }

        // Add labels
        this.svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("alignment-baseline", "central")
            .attr("x", -1)
            .attr("y", height/2)
            .text(x_negative);

        this.svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "start")
            .attr("alignment-baseline", "central")
            .attr("x", width+1)
            .attr("y", height/2)
            .text(x_positive);
        this.svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "middle")
            .attr("x", width/2)
            .attr("y", -1)
            .text(y_positive);
        this.svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "middle")
            .attr("alignment-baseline", "hanging")
            .attr("x", width/2)
            .attr("y", height+1)
            .text(y_negative);

        let symbolScale = d3.scaleOrdinal()
        let colorScale =  d3.scaleOrdinal()

        // Add legend
        symbolScale
            .domain(basicLegend)
            .range(basicSymbol);

        colorScale
            .domain(basicLegend)
            .range(basicColor);

        this.svg.append("g")
          .attr("class", "legendSymbol")
          .attr("transform", "translate(-75,0)");

        let legendPath = d3.legendSymbol()
            .scale(symbolScale)
            .shapePadding(16);

        this.svg.select(".legendSymbol")
            .call(legendPath);

        this.svg.selectAll(".cell path").each(function(d) {
            d3.select(this).style("fill", colorScale(d))
        })

        if (condition < 2) {
            this.add_mean_feature(colors.last_playlist_mean, circle_big_plus, mean_feature1_history[0], mean_feature2_history[0]);

            let ordinal = d3.scaleOrdinal()
                 .domain(extendLegend)
                 .range(extendColor);

            let legendOrdinal = d3.legendColor()
                .shape("circle")
                .shapePadding(15)
                .shapeRadius(6)
                .cellFilter(function(d){ return d.label !== "e" })
                .scale(ordinal);

            this.svg.append("g")
                .attr("class", "legendOrdinal")
                .attr("transform", "translate(225,0)");

            this.svg.select(".legendOrdinal")
                .call(legendOrdinal);
        }

        // Allow interaction with the graph
        function handleMouseOver(d) {
            $(".trackid[value=" + d.id + "]").parent().addClass("track--highlighted1");
            d3.select(this).attr('d', triangleU_big);
        }

        function handleMouseOut(d, i) {
            $(".trackid[value=" + d.id + "]").parent().removeClass("track--highlighted1");
            d3.select(this).attr('d', triangleU);
        }
    }

    /* Guided tour ---------------------------------------------------------------------------------------------------*/
    // Instance the tour
    let introJsObj = introJs();
    introJsObj.onexit(function() {
        $('.make-sticky-later').addClass("sticky");
    });
    introJsObj.setOptions({
        'exitOnOverlayClick': false,
        'disableInteraction': true
    });

    /* Enable tooltips -----------------------------------------------------------------------------------------------*/
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    /* Read data -----------------------------------------------------------------------------------------------------*/
    Promise.all([
        d3.json("/retrieve_genre_recommendation_multiple?genre={{ genre }}&weight={{ weight }}"),
        d3.json("/user_top_tracks"),
        d3.json("/get_genre_typical_tracks/{{ genre }}/all")
    ]).then(function(data) {
        // Extract data from promises
        let recommendations = data[0],
            user_top_tracks = data[1],
            genre_top_tracks = data[2];

        let track_index = {{ weight }}*100;

        // Set global variables based on data
        all_recommendations = recommendations;
        visible_recommendations = recommendations.slice(track_index, track_index+number_of_tracks);

        for (let i = 0; i < all_recommendations.length; i++) {
            all_recommendations[i]['yu_ranking'] = i;
        }

        function mean(tracks, attribute) {
            let sum = 0.0;
            for(let i = 0; i < tracks.length; i++ ){
                sum += tracks[i][attribute];
            }
            return sum/tracks.length;
        }

        let mean_feature_valence = [];
        let mean_feature_energy = [];
        let mean_feature_acoustic = [];
        let mean_feature_dance = [];
        let session_name = [];

        for (let i = 0; i < history.length; i++)
        {
            let tmp_track_index = history[i]["weight"]* 100;
            session_name.push(history[i]["Session"]);
            mean_feature_valence.push(mean(recommendations.slice(tmp_track_index, tmp_track_index+number_of_tracks), "valence"));
            mean_feature_energy.push(mean(recommendations.slice(tmp_track_index, tmp_track_index+number_of_tracks), "energy"));
            mean_feature_acoustic.push(mean(recommendations.slice(tmp_track_index, tmp_track_index+number_of_tracks), "acousticness"));
            mean_feature_dance.push(mean(recommendations.slice(tmp_track_index, tmp_track_index+number_of_tracks), "danceability"));

        }

        // Initialise playlist, sliders, and visualisation
        fillPlaylist();
        //setSliders();
        contour_plot = new ContourPlot(
            "#contour_viz",
            visible_recommendations,
            user_top_tracks,
            genre_top_tracks,
            "valence",
            "energy",
            session_name,
            mean_feature_valence,
            mean_feature_energy);

        contour_plot2 = new ContourPlot(
            "#contour_viz2",
            visible_recommendations,
            user_top_tracks,
            genre_top_tracks,
            "acousticness",
            "danceability",
            session_name,
            mean_feature_acoustic,
            mean_feature_dance);

        // Hide loading indicator and show results
        $('.hide-on-success').hide();
        $('.show-on-success').show();

        // Initialise and start the tour
        introJsObj.start();

    }).catch(function(e) {
        // Display error message in console
        console.error(e);

        // Show error message in #hloading box
        $('#hloading').text(e.message);
    })

    </script>
{% endblock %}