{% extends "layout.html" %}
{% block title %}Informed consent form{% endblock %}
{% block content %}
    <h2>Informed consent form for participants</h2>

    <p class="text-justify">
        This document gives you information about the study “Music Genre Exploration”.
        Before the study begins, it is important that you learn about the procedure followed in
        this study and that you give your informed consent for voluntary participation. Please read this document carefully.
    </p>

    <h5>1. Aim and benefit of the study</h5>
    <p class="text-justify">
        You will use our personalized music genre exploration tool to create playlists to explore a music genre,
        over a period of 4 weeks. The aim of this study is to measure your interaction with and evaluation of the
        genre exploration tool. This information is used to improve such tools and see how people can be
        guided when they would like to explore a new music genre.
    </p>

    <p class="text-justify">
        This study is performed by Yu Liang, under the supervision of Martijn Willemsen of the
        Human-Technology Interaction group of Eindhoven University of Technology and
        Jheronimus Academy of Data Science.
    </p>

    <h5>2. Procedure</h5>
    <p class="text-justify">
        The whole study consists of 4 sessions (of 5-7 minutes each) that happens in 4 consecutive weeks.
        For each week, you will need to listen to a playlist from a specific genre that you would like to
        explore and get familiar with. You need to log in with your Spotify account (note: you can only
        participate with an active Spotify account, free or paid) for this study.
    </p>

    <p class="text-justify">
        To complete the study, it is required to participate in the first session (Session 1), and at
        least two sessions out of Session 2, Session 3 and Session 4. You can get a bonus by filling out a
        short (1 min) closing survey a few weeks after session 4. The total study will take
        about 25-30 minutes of using our tool and filling in the surveys for a maximum payment of £5.
        In between we ask you to listen to the playlist you received in each session.
    </p>

    <p class="text-justify">
        In the first session you will be asked to fill in a survey about your experience with music.
        You will then need to select a music genre that you would like to explore and get familiar with.
        Based what we know about you, we are going to recommend you some songs to help you explore
        the music genre you select. You will receive a playlist to listen to in the week following the
        session to explore the selected genre.
    </p>

    <p class="text-justify">
        In the following weeks you will be invited for sessions 2, 3 and 4. Every week/session,
        you will login with your Spotify account again. After login, you will need to answer a
        few questions about the playlist you listened to in the previous session.
        After that, you will be able to adapt the songs as you like using our genre exploration tool
        and you will get a new playlist to listen to in the week after.
    </p>

    <h5>3. Risks</h5>
    <p class="text-justify">
        The study does not involve any risks, detrimental side effects, or cause discomfort.
    </p>

    <h5>4. Duration</h5>
    <p class="text-justify">
        The instructions, measurements and debriefing will take approximately 7 minutes.
        The study will take a total time of 25-30 minutes for all four sessions.
    </p>

    <h5>5. Participants</h5>
    <p class="text-justify">
        You were selected to be a part of this study because of your availability indicated in the previous screening study,
        that you have an active Spotify account and would like to receive
        information from this follow up study for “Music Genre Exploration”.
    </p>

    <h5>6. Voluntary</h5>
    <p class="text-justify">
        Your participation is completely voluntary. You can refuse to participate without giving any reasons and
        you can stop your participation at any time during the study. You can also withdraw your permission to
        use your data up to 24 hours after each session or after the end of the whole study.
        None of this will have any negative consequences for you whatsoever.
    </p>

    <h5>7. Compensation</h5>
    <p class="text-justify">
        You will be paid £1 for completing each of the (four) sessions in the study. You need to complete the
        first session and at least 2 out of following 3 sessions to be eligible for a bonus.
        If you are eligible, you will get an invite for a short (about 1 min) final survey
        (this will be 6-8 weeks after the first session) in which we ask about your listening behavior.
        Finishing this short survey will pay your bonus of £1. In total you can earn as much as £5
        for the entire study if you do all 4 sessions and the final short survey.
    </p>

    <h5>8. Confidentiality</h5>
    <p class="text-justify">
        All research conducted at the Human-Technology Interaction Group adheres to the Code of Ethics of the NIP
        (Nederlands Instituut voor Psychologen – Dutch Institute for Psychologists),
        and this study has been approved by the Ethical Review Board of the department.
    </p>
    <p class="text-justify">
        In this study personal data (basic demographics, such as age and gender,
        and Spotify top listened tracks and artists) and experimental data (e.g.,
        your responses to the questionnaires and interactions with the application)
        will be recorded, analyzed, and stored. During the study you interact with a
        webapp and your data will be stored on a secured server of Heroku, a GDPR compliant
        cloud service. (https://devcenter.heroku.com/articles/gdpr).
        After the study data will be stored on a secured server of HTI (see below).
    </p>

    <p class="text-justify">
        You need to log in with your Spotify account in order to join this study. During the Spotify login,
        three permissions will be asked to access your Spotify data.
        Our tool will ask for permissions to (1) view your Spotify account data
        (including your name, username, profile picture, how many followers you have on Spotify
        and your public playlists), (2) view your activity on Spotify (including content you have recently played,
        what you’ve saved in Your Library, your top listened artists and tracks, and who you follow on Spotify),
        and (3) take playlist relevant actions in Spotify on your behalf (create, edit, and follow private playlists).
        These permissions will only be granted to us during your usage of the tool. We need these to enable Spotify
        login and for playlist savings during your usage of the tool, but we will never record, analyze,
        and store any of your Spotify account data. We will only store your tracks you have recently played (up to 50 tracks),
        what you’ve saved in Your Library (up to 50 tracks), top listened tracks and artists on Spotify (up to 150 artists and tracks),
        and who you follow on Spotify (up to 50 artists), but without any personal identifiable data.
    </p>
    <p class="text-justify">
        The goal of collecting, analyzing, and storing this data is to answer the research question and publish the results in the scientific literature.
        To protect your privacy, all data that can be used to personally identify you will be stored on an encrypted server of the Human Technology Interaction group
        for at least 10 years that is only accessible by selected HTI staff members. No information that can be used to personally identify you will be shared with others.
    </p>
    <p class="text-justify">
        The data collected in this study might also be of relevance for future research projects within the Human
        Technology Interaction group as well as for other researchers.
        The aim of those studies might be unrelated to the goals of this study.
        The collected data will therefore also be made available in a public online data repository.
        The coded data collected in this study will (to the best of our knowledge and ability)
        not contain information that can identify you. It will include all answers you provide during the study,
        including demographic variables (e.g., age and gender) if you choose to provide these during the study.
    </p>
    <p class="text-justify">
        At the bottom of this consent form, you can indicate whether or not you agree with the use of
        your data for future research within the Human Technology Interaction group and in an public online data repository.
        If you are not willing to share your data in this way, you can still participate in this study.
        Your data will be used only in the scientific article but not shared with other researchers.
    </p>
    <p class="text-justify">
        No video or audio recordings are made that could identify you.
    </p>

    <h5>9. Further information</h5>
    <p class="text-justify">
        If you want more information about this study, the study design, or the results, you can contact Yu Liang (contact email: y.liang1@tue.nl).
    </p>
    <p class="text-justify">
        If you have any complaints about this study, please contact the supervisor,
        Martijn Willemsen (M.C.Willemsen@tue.nl).
        You can report irregularities related to scientific integrity to confidential advisors of the TU/e.
    </p>

    <h5>10. Certificate of Consent</h5>

    <p class="text-justify">
        Please read this informed consent carefully and indicate whether or not you agree to participate in this study.
    </p>

    <form method="get" action="/register_informed_consent" id="consent_form">
        <p>
            I have read and understood the study procedure and -
        </p>
        <p class="data-collection-p">
            I -
        </p>
        <div class="data-collection-inputs">
            <label>
                <input class="scale_radio" type="radio" name="consent" id="agree" value="True"><span>do</span>
            </label>
            <label>
                <input class="scale_radio" type="radio" name="consent" id="disagree" value="False"><span>do not</span>
            </label>
        </div>
        <p class="data-collection-txt">
            agree to voluntarily participate.
        </p>

        <p class="data-collection-p">
            I -
        </p>
        <div class="data-collection-inputs">
            <label>
                <input class="scale_radio" type="radio" name="share" id="agree" value="True"><span>do</span>
            </label>
            <label>
                <input class="scale_radio" type="radio" name="share" id="disagree" value="False"><span>do not</span>
            </label>
        </div>
        <p class="data-collection-txt">
            give permission to make my anonymized recorded data available to others in
            HTI research group or in a public online data repository,
            and allow others to use this data for future research projects unrelated to this study.
        </p>

    </form>


    <div class="text-right">
        <button type="submit" form="consent_form" class="btn btn-success btn-lg" id="action_consent" >
            Continue <i class="fas fa-arrow-right"></i>
        </button>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
           $('#consent_form').submit(function(e) {
               let radio_val1 = $("input[name='consent']:checked").val();

               if (!radio_val1) {
                   alert("Please indicate whether or not you agree with the informed consent");
                   e.preventDefault();
               }

               let radio_val2 = $("input[name='share']:checked").val();
               if (!radio_val2) {
                   alert("Please indicate your preference on making your anonymized data available to other researchers.");
                   e.preventDefault();
               }

           });
        });
    </script>
{% endblock %}