{% extends "layout.html" %}
{% block title %}Last Page{% endblock %}
{% block content%}
    <h2>
        Thanks for your participation!
    </h2>

    <p class="lead">
        The generated playlist is now available in your Spotify playlist: {{ playlist_url }}
    </p>

    <p class="lead">
        Please take time listening the generated playlist (see your Spotify playlist)
        and explore genre in the next week.
        After around one week, we will send you an invitation to Session 2.
        <!--After around one week, we will send you an invitation to Session 3.-->
        <!--After around one week, we will send you an invitation to Session 4.-->
        <!--After around two weeks, you will get an invite for a short (about 1 min) final survey in
        which we ask about your listening behavior. Finishing this short survey will pay your bonus of £1.-->
    </p>

    <p class="lead">You can always contact us for any questions you have.</p>
    <p class="lead">To complete this session, you need to click the button below to redirect to Prolific.</p>

    <div class="text-right">
        <a class="btn btn-success btn-lg" id="action_continue"
           href="https://app.prolific.co/submissions/complete?cc=47904236">
            Return to Prolific<i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}
