{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h2>
        <!--Welcome to the study ‘Music genre exploration’: Session 2-->
        <!--Welcome to the study ‘Music genre exploration’: Session 3-->
        Welcome to the study ‘Music genre exploration’: Session 4
    </h2>

    <p class="lead text-justify">
        This study is designed to help you explore a new music genre that you are not familiar with.
        It will consist of <span class="font-weight-bold">four sessions (weeks)</span>.
        To complete the study, it is required to participate in the first session (Session 1),
        and at least two sessions out of three consecutive sessions (Session 2-4).
        <!--<span class="font-weight-bold">This is Session 2.</span>-->
        <!--<span class="font-weight-bold">This is Session 3.</span>-->
        <span class="font-weight-bold">This is the final session: Session 4.</span>
    </p>

    <p class="lead text-justify">
        To participate in the study, you are required to login with your Spotify account.
        This will allow us to get your Spotify listening data to personalise the recommendations and
        it allows us to store the playlist into your spotify account for listening later this week after this session.
        The information that we collect with this app is securely stored and will only be used for scientific research,
        for which your data will be kept completely anonymous.
        We can only access your Spotify data when you are using this app.
    </p>

    <p class="lead text-justify">
        <span class="font-weight-bold">Note:</span>
        If you are using a mobile phone or tablet, please switch to a computer or laptop.
        Please use Chrome, Firefox, Microsoft Edge or Safari, as other browsers are not supported.
    </p>

    <p class="lead">
        By pressing <span class="font-weight-bold">Continue</span>, we proceed you to the session instruction.
    </p>

    <br>

    <div class="text-right">
        <a class="btn btn-success btn-lg" id="action_continue" href="/session_login">
            Continue to session instruction<i class="fas fa-arrow-right"></i>
        </a>
    </div>

{% endblock %}

{% block scripts %}
    <script>
    $(function () {
        var url = window.location.href;

        if (url.includes("?PROLIFIC_PID=")){
            var prolific_pid = url.substring(url.indexOf("=")+1, url.length);
            console.log(prolific_pid);
            $('#action_continue').attr('href', '/session_login?PROLIFIC_PID=' + prolific_pid);
        }

    });

    </script>
{% endblock %}