{% extends "layout.html" %}
{% block title %}Session instruction{% endblock %}
{% block content %}
    <h2>Session 2 Instruction</h2>
    <!--<h2>Session 3 instruction</h2>-->
    <!--<h2>Session 4 instruction</h2>-->

    <p class="lead text-justify">
        In this Session, you will login with your Spotify account again.
        After login, you will need to answer a few questions about the playlist you listened to in the previous session.
        After that, you will be able to adapt the songs as you like using our genre exploration tool
        and get a new playlist to listen to in the coming days.
        After around one week, we will send you an invitation for the next Session.
        <!--After around two weeks, we will send you an invitation for a short (about 1 min) final survey.-->
    </p>

    <p class="lead text-justify">
        By pressing <span class="font-weight-bold">Continue</span>, we proceed you to the Spotify login.
    </p>


    <div class="text-right">
       <a class="btn btn-success btn-lg" id="action_continue" href="/session_register">
            Continue and login with my Spotify<i class="fas fa-arrow-right"></i>
       </a>
    </div>
{% endblock %}